body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #4c158e;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 1em;
  font-size: 3em;
}

h2 {
  color: #7c3ea3;
  font-family: "Open Sans", sans-serif;
}
p {
  margin: 0;
}

/* unvisited link */
a:link {
  color: #7c3ea3;
}

/* visited link */
a:visited {
  color: #7c3ea3;
}

/* mouse over link */
a:hover {
  color: #7c3ea3;
}

/* selected link */
a:active {
  color: #7c3ea3;
}

#result {
  color: #7c3ea3;
  font-family: "Open Sans", sans-serif;
}

.some-page-wrapper {
  margin: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 1em;
}
